<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <!-- Usado para facilitar as chamadas de arquivos em diferentes funções, devido ao uso
     De blocks do flask-->
 <link rel="stylesheet" href={{ url_for('static', filename = 'styles.css') }}> 
</head>
<body>
    <header>
        <h1>Meu Site</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

{% block conteudo %}
{% endblock %}

    <footer>
        <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>

{% block outroConteudo %}
{% endblock %}
</body>
</html>
