<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IMC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css">

</head>
<body>
    <h1>Calcular Índice de Massa Corporal (IMC)</h1>
    <form class="form-control" action="calcular_imc_post" method="post">
        <label class="form-label">Sua altura (em metros)</label>
        <input class="form-control" type="text" name="txt_altura" required><br>

        <label class="form-label">Seu peso (em kg)</label>
        <input class="form-control" type="text" name="txt_peso" required><br>+

        <input class="btn btn-primary" type="submit" value="Calcular">
        <input class="btn btn-secondary" type="reset" value="Limpar">

        {% if imc is not none %}
            <p><strong>Seu IMC é: </strong>{{ imc }}</p>
        {% endif %}
    </form>
</body>
</html>