{% extends "base.html" %}
{% block conteudo %}
   
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4">Calcular Tipo de Triângulo</h1>
                <form method="get" action="/calc-triangulo" >
                    <div class="form-group" >
                        <label for="lado1">Lado 1:</label>
                        <input type="number" step="any" class="form-control" id="lado1" name="lado1">
                    </div>
                    <div class="form-group">
                        <label for="lado2">Lado 2:</label>
                        <input type="number" step="any" class="form-control" id="lado2" name="lado2">
                    </div>
                    <div class="form-group">
                        <label for="lado3">Lado 3:</label>
                        <input type="number" step="any" class="form-control" id="lado3" name="lado3">
                    </div>
                    <button type="submit" class="btn btn-primary">Calcular</button>
                </form>

                {% if tipo %}
                <div class="mt-4">
                    <p class="lead">Tipo de Triângulo: <strong>{{ tipo }}</strong></p>
                    
                    {% if imagem %}
                        <img src="/static/{{ imagem }}" alt="Imagem do Triângulo {{ tipo }}" class="img-fluid">
                    {% endif %}
                </div>
                 {% endif %}

            </div>
        </div>
    </div>
    
{% endblock %}