{% extends "base.html" %}
{% block conteudo %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="mb-4">Bem-vindo ao Site Flask!</h1>
                <a href="/calc-triangulo" class="btn btn-primary btn-lg btn-block">Calcular Tipo de Triângulo</a>
                <a href="/media-notas" class="btn btn-secondary btn-lg btn-block mt-3">Calcular Média de Notas</a>
            </div>
        </div>
    </div>
{% endblock %}